@font-face {
    font-family: 'GoyangIlsan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes typing {
    0% {
        border-right: 1px solid #111;
    }
    50% {
        border-right: 1px solid #fff;
    }
    100% {
        border-right: 1px solid #111;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

body{ -ms-overflow-style: none; margin: 0 } ::-webkit-scrollbar { display: none; }

.text-center {
    text-align: center;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mx-auto {
    margin: 0 auto;
}

.my-auto {
    margin: auto 0;
}

.click {
    cursor: pointer;
}

section {
    text-align: center;
}

.titles {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

html {
    overflow-y: hidden;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}

body * {
    font-family: 'GoyangIlsan';
}

#home {
    text-align: center;
    display: table;
    height: 100vh;
}

@media (max-width: 991px) {
    #port-howto h1 {
        font-size: 60px !important;
    }

}

.mouse-change {
    cursor: url('../images/hand.png'),
    url('../images/hand.png'),
    default;
}

.vertical-middle {
    display: table-cell;
    vertical-align: middle;
}

.intro {
    display: inline-block;
    padding: 0 10px;
    animation-name: typing;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}

.intro-bg {
    background: rgba(255,255,255,0.5);
    padding: 10px 30px;
    border: 1px solid #aaa;
}

.about-bg {
    margin: 0 auto;
}

.about-bg figure {
    display: flex;
}

.introduce {
    margin: 0 20px;
}

.slow-down {
    text-align: center;
    position: absolute;
    font-size: 50px;
    top: 93vh;
    left: 0;
    right: 0;
}

#contact i {
    margin-right: 5px;
}

.h4 {
    margin-bottom: 10px;
}

.skill-name {
    margin-bottom: 10px;
}

#project .tile.is-parent {
    border-radius: 30px;
}

#project figure:hover {
    transition: all .3s ease;
    -webkit-transform: scale(1.05);
}

#home canvas {
    background-image: url(../images/canvas_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

a.navbar-item.on {
    color:#3273dc
}

#port-content {
    display: none;
}

.navbar.is-fixed-top {
    z-index: -10;
}

#port-start {
    padding: 0 40px;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/canvas_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: table;
    z-index: 2;
}

#port-howto {
    padding: 0 40px;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: none;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}

#port-count, #port-result {
    padding: 0 40px;
    text-align: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    color: #fff;
    display: none;
    background: rgba(0,0,0,0.7);
}

#counting {
    font-size: 150px;
    font-family: 'CookieRunOTF-Bold';
    font-weight: 900;
}

#port-howto .container, #port-start .container, #port-count .container, #port-result .container {
    display: table-cell;
    vertical-align: middle;
}

#port-howto .exit-howto {
    z-index: 1;
    color: #fff;
    font-size: 50px;
    float: right;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

#port-howto h1, #port-result h1 {
    font-family: 'Recipekorea';
    font-size: 80px;
    word-break: keep-all;
}

#port-howto h4, #port-result h4 {
    font-size: 28px;
    font-family: 'CookieRunOTF-Bold';
    margin: 50px 0;
}

#port-howto #ok-btn, #port-result #result-btn {
    cursor: pointer;
    width: 256px;
}

#port-start .play-btn {
    margin-top: 50px;
    display: flex;
}

#port-start .play-btn img {
    cursor: pointer;
    width: 50%;
    max-width: 500px;
}

#port-start .play-btn img:first-child {
    margin-right: 10px;
    margin-left: auto;
}

#port-start .play-btn img:last-child {
    margin-left: 10px;
    margin-right: auto;
}

#score {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 20px;
    line-height: 2.3;
    z-index: 1;
    background-size: cover;
    background-image: url(../images/board.png);
    width: 200px;
    font-family: 'CookieRunOTF-Bold';
    height: 100px;
    font-size: 40px;
    font-weight: 700;
}